.result {
    display: flex;
    align-items: center;
    min-height: 600px;
    background-color: grey;
    flex-direction: column;
    justify-content: center;
}

.balls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
}

.emotion {
    font-size: 100px;
    margin-top: 60px;
}

.startNew { 
    margin-top: 50px;
    width: 100px;
    height: 50px;
}